@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Slab:wght@300&family=Vollkorn:ital,wght@1,600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(45deg,rgb(255, 0, 4),rgb(255, 255, 255));
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Vollkorn', serif;
}
.container{
    background-color: white;
    border-radius: 10px;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 14px 20px #000009, 0px 10px 20px #000;
}
.frontPage{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 110;
    background: linear-gradient(to top,#ff482b,rgb(255, 0, 85));
    color: #000000;
    text-align: center;
    padding: 15% 0;
    animation: front .5s  1 ease-in-out;
    display: none;
}
@keyframes front{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }

}

.frontPage a{
    color:#000000;
}
.frontPage button{
   background: transparent;
   border:1px solid white;
}
.form-container{
    position: absolute;
    top: 0;
    height: 100%;
}
.create-container{
    left: 0;
    width: 50%;
    opacity: 1;
    padding-top: 5%;
}
form{

    background:white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
    height: 100%;

}
.form-container h1{
    font-weight: bold;
    margin: 0;
    background: linear-gradient(to top,#ff482b,rgb(255, 0, 85));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.icon-container{
    margin: 20px 0;

}
.icon-container a{
    border: 1px solid grey;
    border-radius: 50%;
    display: inline-flex;
    justify-content:center ;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;

}
a{
    color: rgb(74, 73, 75);
    font-size: 17px;
    text-decoration: none;
    margin: 15px 0;
    transition: 1s;
}
.icon-container a:hover{
    background: linear-gradient(to top,#ff482b,rgb(255, 0, 85));
    color: black;
    transform: scale(.93);

}

span{
    font-size: 12px;

}
.input{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}
input{
    background: #eee;
    border: none;
    text-decoration: none;
    width: 100%;
    margin: 8px 0;
    padding: 12px 15px;

}
button{
    border-radius: 20px;
    border: 1px solid #ff482b;
    background-color: #ff482b;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;

}
.sign-container{
    left: 0;
    width: 50%;

}
.input-one{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}
.overlay-container{
    position: absolute;
    background-color: rgb(255, 0, 85);
    background: linear-gradient(to right,#ff482b,rgb(255, 0, 85));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    z-index: 100;
    transition: .6s ease-in-out;
    padding-top: 10%;
}
.overlay{

    color: rgb(0, 0, 0);
    position: relative;
    left: -100%;
    width: 200%;

    transform: translateX(0);
}
.overlay-panel{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20% 40px;
    text-align: center;
    height: 100%;
    width: 50%;
    transform: translateX(0);
}
.overlay-left{
    transform: translateX(20);
}
.overlay-right{
    right: 0;
    transform: translateX(0);
}
button:active{
    transform: scale(.95);
}
button.press{
    background: transparent;
    border-color: #fff;
}
p{
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: .5px;
    margin: 25px 0;
}
.container.right-panel-active .sign-container{
    transform: translateY(100%);
}
.container.right-panel-active .create-container{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: slide 0.6s;
}
@keyframes slide{
    0%,49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%,100%{
        opacity: 1;
        z-index: 5;
    }
}
.container.right-panel-active .overlay-container{
    transform: translateX(-100%);
}
.container.right-panel-active .overlay{
    transform: translateX(50%);
}
.container.right-panel-active .overlay-left{
    transform: translateX(0);
}
.container.right-panel-active .overlay-right{
    transform: translateX(20%);
}